* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Raleway';
  color: black;
  max-width: 1400px;
}

/* VARIABLE IMPERATIF */
:root {
  --color-blue: #0065fc;
  --color-ligth-blue: #deebff;
  --color-grey: #f2f2f2;
}
main {
  width: 100vw;
}

/* FONT STYLE */
h1 {
  font-size: 22px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 8px;
}
h2 {
  font-weight: 700;
  font-size: 22px;
}
h3 {
  margin-right: 20px;
  font-size: 18px;
  margin-bottom: 20px;
}
h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

/* HEADER */
#header {
  display: flex;
  justify-content: space-between;
}
.logo a img {
  width: 61px;
  margin: 44px 0 0 55px;
}
#menu ul {
  display: flex;
}
#menu ul li {
  padding: 40px;
}
#menu ul li:first-child {
  border-top: 2px solid #0065fc;
}
#menu ul li.home a {
  color: var(--color-blue) !important;
  font-weight: 600;
  font-size: 16px;
}

/* SECTION SEARCH */
#search #search-form {
  padding: 0 55px;
}

#search #search-form div.input-search,
#search #search-form div.input-search p.location-dot,
#search #search-form div.input-search #city-search,
#search #search-form div.input-search #btn-search {
  display: flex;
  padding: 10px;
  font-weight: 700;
  font-size: 18px;
  padding: 15px 16px;
}
#search #search-form .input-search p.location-dot {
  justify-content: center;
  background-color: var(--color-grey);
  border-radius: 15px 0 0 15px;
}
#search #search-form .input-search #city-search {
  font-weight: 800;
  border: 1px solid var(--color-grey);
}
#search #search-form .input-search #btn-search {
  border: none;
  background-color: var(--color-blue);
  color: white;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}

/* SECTION FILTERS */
#filters {
  margin-top: 20px;
  margin-left: 55px;
  display: flex;
  align-items: center;
}

#filters .filter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-grey);
  border-radius: 25px;
  width: fit-content;
  margin: 0 10px;
  cursor: pointer;
  padding: 0px 10px;
  transition: 0.2s ease-in-out;
}
#filters .filter:hover {
  background-color: var(--color-ligth-blue);
  border: 2px solid var(--color-blue);
}
#filters .filter p.icons {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 35px;
}
#filters .filter p.icons i {
  color: var(--color-blue);
  font-size: 22px;
}
#filters .filter p.text {
  padding: 0px 20px 0 10px;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 20px;
}
.result {
  margin-left: 59px;
}
.result p {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 16px;
}
.result i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-blue);
  border: 1px solid var(--color-grey);
  padding: 10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 20px;
  font-size: 12px;
}

/* SECTION HOTELS */
/* HOTELS */
#hotels-marseille {
  display: flex;
  justify-content: space-evenly;
}
#all-hotels {
  max-width: 880px;
  flex-direction: column;
  background: var(--color-grey);
  padding: 30px;
  border-radius: 20px;
}
.all-hotels-title {
  margin-left: 12px;
}
.hotel,
.popular-hotel {
  background-color: white;
  padding: 5px;
  margin: 25px 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgb(90, 90, 90);
}
.hotel img {
  width: 246px;
  height: 124px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.hotel-text {
  padding: 5px;
}
#hotels-marseille .first-line,
#hotels-marseille .second-line {
  display: flex;
}
.rate-star {
  color: var(--color-blue);
  font-size: 12px;
}
.empty {
  color: var(--color-grey) !important;
}

.hotel-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 5px 0;
}

/* POPULAR */
#most-popular {
  background-color: var(--color-grey);
  padding: 30px;
  border-radius: 20px;
  max-width: 420px;
}
.most-popular-title {
  display: flex;
  justify-content: space-between;
}
.most-popular-title i {
  color: var(--color-blue);
}
.popular-hotel img {
  width: 130px;
  height: 135px;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}
.popular-hotel {
  width: 343px;
  max-height: 144px;
  display: flex;
}
.popular-text {
  display: flex;
  padding: 0 15px;
  flex-direction: column;
  justify-content: center;
  line-height: 19px;
}
.popular-text .stars {
  margin-top: 25px;
}

/* ACTIVITIES */
#activities {
  margin-top: 50px;
}
.activities-title {
  padding: 50px;
}
.all-activities {
  display: flex;
  justify-content: center;
}
.activity {
  background-color: white;
  margin: 0 20px;
  box-shadow: 2px 2px 10px grey;
  border-radius: 20px;
}
.big-pic img {
  height: 390px;
}
.all-activities img {
  width: 300px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.activity a h5 {
  padding: 20px 20px;
}

/* FOOTER */
#footer {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color-grey);
  padding: 35px;
  margin-top: 100px;
  width: 1339px;
  margin-left: 50%;
  transform: translate(-50%);
}

#footer ul li {
  padding: 5px 0;
}

@media screen and (max-width: 992px) {
  /* SECTION HOTELS */
  /* HOTELS */
  #hotels-marseille {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  /* POPULAR */
  #most-popular {
    background-color: var(--color-grey);
    width: fit-content;
    margin-top: 53px;
    justify-content: center;
  }
  .popular-hotels {
    display: flex;
  }

  .popular-hotel img {
    width: 106px;
    height: 135px;
  }
  .popular-hotel {
    width: 252px;
  }

  /* ACTIVITIES */

  .activity {
    width: 182px;
  }
  .big-pic img {
    height: 211px;
  }
  .all-activities img {
    width: 182px;
  }
}

@media screen and (max-width: 768px) {
  #header {
    flex-direction: column;
  }
  #menu {
    text-align: center;
    width: 100vw;
    justify-content: center;
  }
  .home {
    border-top: none;
    border-bottom: 2px solid var(--color-blue);
  }
}
