* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Raleway';
  color: black;
}
/* VARIABLE IMPERATIF */
:root {
  --color-blue: #0065fc;
  --color-ligth-blue: #deebff;
  --color-grey: #f2f2f2;
}
body {
  width: 100vw;
}
/* FONT STYLE */
h1 {
  font-size: 22px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 8px;
}
h2 {
  font-weight: 700;
  font-size: 22px;
}
h3 {
  /* margin-right: 20px; */
  font-size: 18px;
  margin-bottom: 20px;
}
h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
/* HEADER */
#header {
  display: flex;
  justify-content: space-between;
}
.logo a img {
  width: 61px;
  margin: 44px 0 0 55px;
}
#menu ul {
  display: flex;
}
#menu ul li {
  padding: 40px;
  border-top: 2px solid transparent;
}
#menu ul li:hover {
  border-top: 2px solid #0065fc;
  font-weight: 600;
}
/* #menu ul li:first-child {
  border-top: 2px solid #0065fc;
} */
#menu ul li:hover a {
  color: var(--color-blue) !important;
  font-weight: 600;
  font-size: 16px;
}
/* SECTION SEARCH */
#search #search-form {
  padding: 0;
  margin-left: 55px;
}
#search #search-form div.input-search,
#search #search-form div.input-search p.location-dot,
#search #search-form div.input-search #city-search,
#search #search-form div.input-search .btn-search {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  padding: 15px 16px;
}
#search #search-form .input-search p.location-dot {
  justify-content: center;
  background-color: var(--color-grey);
  border-radius: 15px 0 0 15px;
}
#search #search-form .input-search #city-search {
  font-weight: 800;
  border: 1px solid var(--color-grey);
}
#search #search-form .input-search .btn-search {
  border: none;
  background-color: var(--color-blue);
  color: white;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}
.responsive-btn {
  display: none;
}
/* SECTION FILTERS */
#filters {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-left: 62px;
  width: 100vw;
}
#filters-line {
  display: flex;
}
#filters .filter {
  display: flex;
  margin-right: 50px;
  align-items: center;
  border: 2px solid var(--color-grey);
  border-radius: 25px;
  width: fit-content;
  cursor: pointer;
  padding: 0px 10px;
  transition: 0.2s ease-in-out;
}
#filters .filter:hover {
  background-color: var(--color-ligth-blue);
  border: 2px solid var(--color-blue);
}
#filters .filter p.icons {
  display: flex;
  padding: 10px;
  width: 35px;
}
#filters .filter p.icons i {
  color: var(--color-blue);
  font-size: 22px;
}
#filters .filter p.text {
  padding: 0px 10px 0 10px;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 700;
}
.result p {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 16px;
  margin-left: 59px;
}
.result i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-blue);
  border: 1px solid var(--color-grey);
  padding: 10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 20px;
  font-size: 12px;
}
/* SECTION HOTELS */
/* HOTELS */
#hotels-marseille {
  display: flex;
  justify-content: space-evenly;
}
#all-hotels {
  max-width: 880px;
  flex-direction: column;
  background: var(--color-grey);
  padding: 30px;
  border-radius: 20px;
}
.all-hotels-title {
  margin-left: 12px;
}
.hotel,
.popular-hotel {
  background-color: var(--color-grey);
  padding: 5px;
  margin: 25px 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgb(90, 90, 90);
}
.hotel img {
  width: 246px;
  height: 124px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.hotel-text {
  padding: 5px;
}
.first-line,
.second-line {
  display: flex;
}
.rate-star {
  color: var(--color-blue);
  font-size: 12px;
}
.empty {
  color: var(--color-grey) !important;
}
.hotel-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 5px 0;
}
/* POPULAR */
#most-popular {
  padding: 30px;
  background-color: var(--color-grey);
  padding: 30px;
  border-radius: 20px;
}
.most-popular-title i {
  color: var(--color-blue);
}
.most-popular-title {
  display: flex;
  justify-content: space-between;
}
.popular-hotel img {
  width: 137px;
  height: 135px;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}
.popular-hotel {
  width: 343px;
  max-height: 144px;
  display: flex;
}
.popular-text {
  display: flex;
  padding: 0 15px;
  flex-direction: column;
  justify-content: center;
  line-height: 19px;
}
.popular-text .stars {
  margin-top: 25px;
}
/* ACTIVITIES */
#activities {
  margin-top: 50px;
}
.activities-title {
  padding: 50px;
}
.all-activities {
  display: flex;
  justify-content: center;
}
.activity {
  background-color: white;
  margin: 0 20px;
  box-shadow: 2px 2px 10px grey;
  border-radius: 20px;
}
.big-pic img {
  height: 390px;
}
.all-activities img {
  width: 300px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.activity a h5 {
  padding: 20px;
}
/* FOOTER */
#footer {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color-grey);
  padding: 35px;
  margin-top: 100px;
  width: 1339px;
  margin-left: 50%;
  transform: translate(-50%);
}
#footer ul li {
  padding: 5px 0;
}

@media screen and (max-width: 992px) {
  #filters {
    align-items: center;
  }
  /* #filters .filter {
    margin-right: 10px;
  } */
  #filters .filter p.icons i {
    width: 22px;
  }
  #hotels-marseille {
    flex-direction: column;
    align-items: center;
  }
  #most-popular {
    margin-top: 50px;
  }
  .popular-hotels {
    display: flex;
  }
  .popular-hotel img {
    width: 100px;
    height: 136px;
  }
  .popular-hotel {
    width: 252px;
  }
  .popular-hotel .hotel-text {
    padding: 0 0 0 5px;
  }
  .popular-text p {
    font-size: 13px;
  }
  .popular-text h5 {
    font-size: 14px;
  }
  .activity {
    width: 182px;
  }
  .big-pic img {
    height: 211px;
  }
  .all-activities img {
    width: 182px;
  }
  #footer {
    width: 90%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  * {
    max-width: 768px;
  }
  #filters,
  #search #search-form {
    justify-content: center;
    margin-left: 20px;
  }
  #header {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .logo a img {
    margin: 20px 0;
  }
  #menu {
    width: 100vw;
  }
  #menu ul li {
    width: 50vw;
    margin-bottom: 35px;
  }
  #menu ul li a {
    align-items: center;
  }

  #menu ul li:first-child {
    border-top: none;
    border-bottom: 2px solid var(--color-blue);
  }
  #menu ul li:hover {
    border-top: none;
    border-bottom: 2px solid var(--color-blue);
  }
  #menu ul li:last-child {
    border-bottom: 2px solid var(--color-grey);
  }

  button.btn-search {
    display: none !important;
  }
  .responsive-btn {
    display: block !important;
    border: none;
    background-color: var(--color-blue);

    border-radius: 0 15px 15px 0;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    padding: 15px 16px;
  }
  .responsive-btn i {
    color: white;
  }
  .location-dot i {
    padding: 3px;
  }
  .input-search {
    align-items: center;
  }
  /* filters */
  #filters {
    flex-direction: column;
    align-items: start;
  }
  /* !!!!!!! GRID */
  #filters-line {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px 0;
  }
  #filters .filter {
    width: 170px;
    padding: 0;
  }
  #filters .filter p.text {
    font-size: 11px;
    font-weight: 700;
  }
  .result p {
    margin-left: 0;
  }
  /* HOTELS */
  #hotels-marseille {
    flex-direction: column-reverse;
  }
  #all-hotels .first-line,
  #all-hotels .second-line,
  .popular-hotels,
  .all-activities {
    flex-direction: column;
  }
  #all-hotels {
    background: white;
  }
  .hotel,
  .popular-hotel {
    margin: 10px 0;
  }
  .hotel img {
    width: 335px;
    height: 124px;
  }
  .hotel-text {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .all-hotels-title h2,
  .most-popular-title {
    display: flex;
    align-items: start;
    padding: 15px 0;
  }
  .most-popular-title {
    justify-content: space-between;
  }

  .all-hotels-title h3 {
    display: none;
  }
  #most-popular {
    padding: 30px;
    width: 105%;
    border-radius: 0;
  }
  /* UTILISATION COLUMN */
  .popular-hotels {
    flex-direction: column;
    max-width: 768px;
    align-items: center;
    padding: 0;
  }
  .pop-hotel {
    max-width: 768px;
    padding: 0;
  }

  .popular-hotel img {
    width: 137px;
    height: 135px;
  }
  .popular-hotel {
    width: 343px;
    max-height: 144px;
    display: flex;
  }
  .popular-text {
    flex-direction: column;
    align-items: start;
    line-height: 19px;
  }
  /* ACTIVITIES */
  #activities {
    width: 100vw;
  }
  .activities-title {
    width: 213px;
    padding: 0 22px;
  }
  .all-activities {
    align-items: center;
  }
  .activity {
    width: fit-content;
    margin: 20px;
  }
  .activity a h5 {
    padding: 20px;
  }
  .big-pic img {
    height: 134px;
  }
  .all-activities img {
    width: 334px;
  }
  /* FOOTER */
  #footer {
    flex-direction: column;
    width: 100vw;
  }

  #footer ul {
    margin-bottom: 25px;
  }
}
